<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Set the title of the web page -->
    <title>The Tech Blog</title>
     <!-- Include the Bootstrap CSS library  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
     <!-- Include a custom stylesheet -->
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <!-- The header section containing navigation links -->
    <header id="navheader" class="text-white">
        <section></section>
        <!-- A conditional block to display navigation links based on whether the user is logged in or not -->
        {{#if loggedIn}}
        <!-- If the user is logged in, display these links -->
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/api/users/logout">Logout</a>
        {{else}}
         <!-- If the user is not logged in, display these links -->
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/login">Login</a>
        {{/if}}  
    </header>
     <!-- The main content section of the web page -->
    <main>
        <!-- The content will be dynamically inserted here -->
        {{{body}}}
    </main>
</body>
</html>