<section class="card text-center">
  <div class="card-body">
    <!-- Heading for the login form -->
    <h3 class="card-title">Login</h3>
    <form id="login">
      <!-- Input field for the username -->
      <div class="card-text">
        <label for="loginUsername">Username</label>
        <input type="text" placeholder="username" id="loginUsername" />
      </div>
      <!-- Input field for the password -->
      <div class="card-text">
        <label for="loginPassword">Password</label>
        <input type="text" placeholder="password" id="loginPassword" />
      </div>
      <!-- Button to submit the login form -->
      <button>Login!</button><br />
      <!-- Link to redirect users to the signup page -->
      <a href="/signup">Signup instead</a>
    </form>
  </div>
</section>