<section class="card text-center">
  <div class="card-body">
    <h3 class="card-title">Signup</h3>
    <!-- The signup form with the id "signup" starts here. -->
    <form id="signup">
      <!-- Input field for the username, with a placeholder and an id "signupUsername." -->
      <div class="card-text">
        <label for="signupUsername">Username</label>
        <input type="text" placeholder="username" id="signupUsername" />
      </div>
      <!-- Input field for the password, with a placeholder and an id "signupPassword." -->
      <div class="card-text">
        <label for="signupPassword">Password</label>
        <input type="text" placeholder="password" id="signupPassword" />
      </div>
      <!-- A button to submit the signup form with the text "Signup!" -->
      <button>Signup!</button><br />
      <!-- A link to redirect users to the login page if they already have an account. -->
      <a href="/login">Login instead</a>
    </form>
  </div>
</section>
<!-- Added script -->
<script src="/js/signup.js"></script>