/* Global reset for all elements */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(176, 229, 208, 1) 42%, rgba(92, 202, 238, 0.41) 93.6%);
    ;
}

body {
    height: 100vh;
}

header,
h1 {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 0.8735904051987767) 0%, rgba(70, 252, 199, 0.7053946865443426) 100%);
    padding: 10px;
    color: black !important;
    /* Important rule to override other styles */
}

header a {
    margin: 10px;
    padding: 5px;
    color: black !important;
}

.card-title {
    background: rgb(34, 187, 195);
    background: linear-gradient(0deg, rgba(34, 187, 195, 0.7482276119402985) 62%, rgba(253, 187, 45, 1) 100%);
    color: #5050e6d0;
    padding: 5px;
}

.card {
    background-color: azure;
}

.card h5,
.card p {
    color: black;
    font-style: normal;
}

button {
    padding: 3px;
    margin: 5px;
}

#newpost {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#content,
#editedContent {
    margin-left: 10vw;
    margin-right: 10vw;
}

/* Styling for the create, update, and delete buttons */
#create,
#update,
#delete {
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 20px;
}

#comment {
    width: 80vw;
    margin-top: 20px;
}

#title,
#editedTitle {
    width: 80vw;
}